 *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

 .navbar{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    position: sticky;
    top: 0;

 }

 .navbar::before{
     content:"";
     position: absolute;
     background-color: rgba(0,0,0,0.5);
     height: 100%;
     width: 100%;
     z-index: -1;
     

 }
 
 .navbar ul{
    display: flex;
    list-style: none;
    
    

 }
 .navbar ul li{
    font-size: 1.6rem;
    
 }
 .navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: rgb(242, 246, 246);
 }

 .navbar ul li a:hover{
    background-color: aqua;
    color: black;
    box-shadow: 0 0 50px aqua;

 }

 #home{
    
    display: flex;
    flex-direction: column;
    height: 650px;
    
    
    background-color: rgba(0,0,0,0.5);
    
 }


 .logo a{
   font-size: 50px;
   color: aqua;
   margin: 40px;
   text-decoration: none;
   font-weight: bold;
   text-shadow: 0 0 50px aqua;


}
#home::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background: url(aa.jpg) no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
    justify-content: center;
}



.heading{
    color: rgb(166, 9, 172);
    text-shadow: 0 0 50px;
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1,1.3);
    align-items: center;
    justify-content: center;
    padding-top: 80px;
   
}

.cap p{
   font-size: 20px;
   justify-content: center;
   font-style: italic;
   color: aqua;
   font-weight: 500;
   text-align: center;
}

/* About section*/
#about{
   display: flex;
   flex-direction: column;
   height: 850px;
   background: url(p.jpg) no-repeat center center/cover;

   
}


#about h1{
   margin: 55px;

   color: aqua;
}
 .about{
   display: flex;


}
.about img{
   width: 500px;
   height: 400px;
   padding: 0px 30px;
   border-radius: 50%;

}
.name{
   padding: 10px;

}
.name h2{

   font-size: 2rem;
   color: aqua;

}
.name p{
   font-size: 1.2rem;
   color: white;
}


#skills{
   display: flex;
   flex-direction: column ;
   background: url(nnn.jpg) no-repeat center center/cover;
}
 #skills h1{

   margin: 60px;
   color: aqua;
}


.col{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
   

}


.boxs{
   justify-content: center;
   align-items: center;
   height: 270px;
   width: 400px;
   background-color: rgb(245, 245, 246);
   border-radius: 30px;
   margin: 50px;
   padding: 50px;
   flex-wrap: wrap;
}



.boxs i{
   font-size: 40px;
   color: rgb(204, 6, 39);

}

.boxs i:hover{
   color: #faf622;
}











 #projects{
   display: flex;
   flex-direction: column;
   background-color: rgba(0,0,0,0.5);
   
   background: url(pp.jpg) no-repeat center center/cover;
}

#projects h1{
   margin: 60px;
}
.gallery{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   

}
.gallery img{
   width: 100px;
   height: 100px;
   padding: 10px;
   margin: 10px;
}

.gallery img:hover{
  background-color: white;
  cursor: pointer;

}


#resume{
   display: flex;
   flex-direction: column;
   background: url(pp.jpg) no-repeat center center/cover;
   background-color: rgb(0, 4, 6);
   height: 800px;
}


#resume h1{
  
    margin-bottom: 120px;

    color: rgb(214, 41, 183);

}

 .column{
   justify-content: center;
   align-items: center;
   display: grid;
   grid-template-columns: auto auto;
   padding-left: 40px;
   margin-bottom: 50px;

   

 }

.bx{

   height: 200px;
   width: 400px;
   background-color: aqua;
   margin: 30px;
   padding: 50px;
   border-radius: 40px;

}
.bx h2{
   color: rgb(6, 6, 7);
   font-size: 2rem;
   margin-bottom: 40px;
   text-align: center;
}

.c-btn{
   align-items: center;
   padding: 20px;
   margin-left: 130px;
    background-color: rgb(185, 9, 9);
    box-shadow: inset;
    font: bold;
}
.c-btn:hover{
   color:white;
   background-color: green;
   box-shadow: 0 0 50px rgb(1, 27, 5);

}











#contact_section{
   height: 500px;
   padding: 90px 0px;
   background: url(nnn.jpg) no-repeat center center/cover;

   
}

.contact{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   
   align-items: center;
   justify-content: center;
   position: relative;
}
.contact_title h1{
   color: #32d9f3;
   font-size: 60px;
   margin: 50px;
   font-weight: bold;
   text-shadow: 0 0 50px #0bb3d8;
 

}
.contact_info{
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   align-items: center;
   justify-content: center;


}

.contact_info .email, 
.phone, .location
{
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 350px;
   color: rgb(173, 14, 14);
   background-color: #c2d2dd;
   border-radius: 20px;
   font-size: 30px;

}
.location{
   margin-top: 40px;

}
.footer_social_icon i{
   color: #faf622;


}
.footer_social_icon i:hover{
      color: #0fd68a;

}
.footer_social_icon{
   display: flex;
   gap: 30px;
   font-size: 30px;
   padding-top: 50px;

   
}

.cpyright p{
   font-size: 20px;
   padding: 20px;
   color: white;

}
.designer{
   text-transform: uppercase;
   font-weight: 400;

}
























#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    
    background-color:url(n.jpg);
}
#portfolio h1{
   margin: 60px;
}
.gallery{
   display: flex;
   flex-wrap: wrap;

}
.gallery img{
   width: 360px;
   height: 640px;
   padding: 10px;
   margin: 10px;
}

 .gallery img:hover{
   background-color: white;
   cursor: pointer;

}